<!DOCTYPE html>
<html>
  <head>
    <title>Noticias</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/elmio.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand mx-auto">Noticias no tergiversadas</a>
    </nav>
    
    <section>
      <img src="https://images.ecestaticos.com/zmr2jPfie-9HF9CF_av033-V-Xs=/368x67:1605x995/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd91%2Fcb4%2F5e9%2Fd91cb45e92bb369c2b2e10762190dbd3.jpg">
    </section>

    <div>
      <h1>Bienvenido a las mejores noticias de tu calle</h1>
      <a href="/news" id="ir">Ir a las noticias</a>

    </div>
    <footer class="navbar navbar-dark bg-dark">
      <h5>chabakano@copyright</h5>
    </footer>
  </body>
</html>
